<div [ngClass]="dynamicBackground">

  <p class="title">BIENVENIDO A IMPORT-EXCEL</p>

  <p class="date-time">Fecha y Hora Actual: {{ currentDate }}</p>

  <div class="action-buttons">
    <button class="boton" (click)="exportToExcel()">Guardar Cambios</button>
    <button class="boton" (click)="revisarControlesIniciales()">
      <i></i>Revisión de controles
    </button>
    <button class="boton">
      <i></i>Localizar municipio/provincia
    </button>
    <button class="boton">
      <i></i>Localizar registros
    </button>
    <button class="boton">
      <i></i>Búsqueda de antecedentes
    </button>
    <button class="boton">
      <i></i>Búsqueda tipos de bien
    </button>
    <button class="boton primary">
      <i></i>Generar Encargo
    </button>
    <button class="boton">
      <i></i>Copiar antecedentes
    </button>
  </div>

  <input class="input_xlsx" type="file" (change)="onFileChange($event)" accept=".xls,.xlsx"/>

  <p class="message" *ngIf="excelData.length === 0">No hay datos disponibles</p>

  <div *ngIf="sheetNames.length > 0" class="style">
    <ul class="horizontal">
      <li *ngFor="let sheetName of sheetNames; let i = index">
        <button (click)="loadSheet(i)">
          {{ sheetName }}
        </button>
      </li>
    </ul>
  </div>

  <div class="styles">
    <div class="table-container">
      <table *ngIf="excelData.length > 0">
        <tr *ngFor="let row of excelData; let rowIndex = index">
          <td *ngFor="let cell of row; let colIndex = index" contenteditable="true" (blur)="onCellEdit($event, rowIndex, colIndex)">
           {{cell}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  
</div>