<div [ngClass]="dynamicBackground">

  <p class="title">ALTA DE LOTES</p>

  <p class="date-time">Fecha y Hora Actual: {{ currentDate }}</p>

  <div class="action-buttons">
    <button class="boton" (click)="toggleVentana('guardar')">
      Guardar Cambios
    </button>
    <button class="boton" (click)="revisarControlesIniciales()">
      Revisión de controles
    </button>
    <button class="boton" (click)="toggleVentana('buscador')">
      Localizar municipio y provincia
    </button>
    <button class="boton" (click)="toggleVentana('registros')">
      Localizar registros
    </button>
    <!--
    <button class="boton primary">
      Grabar Campos del Excel
    </button>
    -->
    <button class="boton" (click)="onBuscarAntecedentes()">
      Búsqueda de antecedentes
    </button>
    <button class="boton" (click)="toggleVentana('tiposBien')">
      Búsqueda tipos de bien
    </button>
    <button class="boton" (click)="toggleVentana('generarEncargo')">
      Generar Encargo
    </button>
    <button class="boton">
      Copiar antecedentes
    </button>
  </div>

  <div class="modal-overlay" *ngIf="estadoVentana === 'buscador'">
    <div class="modal-content">
      <h3>Buscar por provincia y municipio</h3>
  
      <label for="provincia">Provincia:</label>
      <select id="provincia" [(ngModel)]="provinciaSeleccionada">
        <option value="">-- Selecciona una provincia --</option>
        <option *ngFor="let prov of provincias" [value]="prov">{{ prov }}</option>
      </select>
      <hr>
      <label for="municipio">Municipio:</label>
      <input id="municipio" [(ngModel)]="municipioIngresado" placeholder="Escribe el municipio" />
  
      <div class="modal-buttons">
        <button (click)="buscarFilas()">Confirmar</button>
        <button (click)="cancelarBusqueda(); estadoVentana = null">Cancelar</button>
      </div>
    </div>
  </div>
  
  <div class="modal-overlay" *ngIf="estadoVentana === 'registros'">
    <div class="modal-content">
      <h3 class="ReferenciaCatastral">Localizar registros</h3>
      <label for="referencia-catastral">Referencia Catastral:</label>
      <hr>
      <input id="referencia-catastral" [(ngModel)]="referenciaIngresado" placeholder="Referencia Catastral"/>
      <div class="modal-buttons">
        <button (click)="buscarRegistros()">Confirmar</button>
        <button (click)="cancelarBusqueda(); estadoVentana = null">Cancelar</button>
      </div>
    </div>
  </div>

  <div class="modal-overlay" *ngIf="estadoVentana === 'guardar'">
    <div class="modal-content">
      <h3>¿Quieres guardar los cambios?</h3>
      <div class="modal-buttons">
        <button (click)="exportToExcel()">Si</button>
        <button (click)="cancelarBusqueda(); estadoVentana = null">No</button>
      </div>
    </div>
  </div>

  <div class="modal-overlay" *ngIf="estadoVentana === 'tiposBien'">
    <div class="modal-content">
      <h3 class="bien">Id. Bien</h3>
      <hr>
      <input id="bien" [(ngModel)]="idBien" placeholder="Id. Bien"/>
      <div class="modal-buttons">
        <button (click)="buscarTipoBien()">Confirmar</button>
        <button (click)="cancelarBusqueda(); estadoVentana = null">Cancelar</button>
      </div>
    </div>
  </div>    

  <div class="modal-overlay" *ngIf="estadoVentana === 'generarEncargo'">
    <div class="modal-content">
      <h3>¿Estás seguro de que quieres generar el encargo?</h3>
      <div class="modal-buttons">
        <button (click)="generarEncargo()">Sí, generar</button>
        <button (click)="cancelarBusqueda(); estadoVentana = null">No, cancelar</button>
      </div>
    </div>
  </div>

  <div class="field-mapping-container">
    <p class="field-mapping-title">Asignación de Campos</p>
    <table class="field-mapping-table">
      <thead>
        <tr>
          <th>Origen</th>
          <th>Valor</th>
          <th>Destino</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mapping of fieldMappings; let i = index">
          <td>{{ mapping.origen }}</td>
          <td>
            <ng-container *ngIf="selectedRowData">
              <span>{{ selectedRowData[i] || 'No Disponible' }}</span>                                      
            </ng-container>
            <ng-container *ngIf="!selectedRowData">
              No Disponible
            </ng-container>  
          </td>
          <td>
            <ng-container *ngIf="!ordenCampos.includes(mapping.origen)">
              <select [(ngModel)]="mapping.destino" (change)="onDestinoChange(mapping, i)">
                <option value="">-- Omitir --</option>
                <option *ngFor="let col of columnasDestino" [value]="col">{{ col }}</option>
              </select>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>  

  <div *ngIf="mensajeVisible" [ngStyle]="estiloMensaje" class="ventana-mensaje">
    <button (click)="cerrarMensaje()" 
          style="position: absolute; top: 0; right: 0; background: transparent; border: none; font-size: 16px; cursor: pointer;">
      ✖
    </button>
    <div [innerHTML]="contenidoMensaje"></div>
  </div>

  <div *ngIf="mensajeLote" [ngStyle]="estiloMensajeLote">
    <div [innerHTML]="contenidoMensajeLote"></div>
  </div>

  <input class="input_xlsx" type="file" (change)="onFileChange($event)" accept=".xls,.xlsx"/>

  <div id="error-container" class="error-container" style="display: none;">
    <button id="close-btn" class="close-btn" onclick="cerrarErrores()">X</button>
    <strong>Errores encontrados:</strong>
    <ul id="error-list"></ul>
  </div>  

  <div class="styles">
    <div class="table-container">
      <table *ngIf="excelData.length > 0">
        <tr *ngFor="let row of excelData; let rowIndex = index"n (click)="onRowClick(rowIndex)" [class.selected-row]="selectedRowIndex === rowIndex">
          <td *ngFor="let cell of row; let colIndex = index" contenteditable="true" (blur)="onCellEdit($event, rowIndex, colIndex)">
           {{cell}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  
</div>