/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dynamic-background {
    background-image: url('https://i.pinimg.com/originals/a7/37/e1/a737e1a3422af26b58da3099cc3baccf.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.title{
    font-size: 45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #f70303dd;
    text-align: center;
}

.subtitle{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: black;
    text-align: center;
}

.input_xlsx {
    display: block; 
    margin: auto;
    width: 700px;
    height: 20px; 
    border: 1px solid black; 
    border-radius: 10px;
    padding: 10px;
}

.input1{
    width: 370px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.message{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}


.styles { 
    margin: 10px 0 0 0;
    background-color: #f4f4f4; 
    text-align: center; 
    font-size: 1em;
    box-sizing: border-box; 
}


.table-container {
    width: 99.9vw;
    height: 75.5vh;
    overflow-x: auto; 
    overflow-y: auto;
    border: 1px solid black; 
}


table {
    table-layout: auto; 
    border-collapse: collapse;
}


.styles td, .styles th {
    border: 1px solid blue; 
    padding: 8px; 
    text-align: center;
}


.styles td:empty {
    border: 1px solid blue;
}


.styles tr:first-child {
    background-color: black; 
    color: white; 
}


.styles tr:not(:first-child):hover {
    background-color: lightsalmon;
    font-weight: bold;
}



.style{
    margin: 20px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    background-color: lightyellow;
    border: 2px solid black;
    justify-content: center;
}

.style button {
    width: 140px;
    margin: 10px;
    padding: 5px;
    border-radius: 40%;
    cursor: pointer;
    transition: transform 0.1s;
    background-color: lightgrey;
}

.style button:active{
    transform: translateY(5px);
}

.style button:hover {
    background: lightgreen;
}

.horizontal {
    display: flex;
}

.horizontal li{
    margin-right: 50px;
}
  
