/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.styles { 
    margin: 30px auto; /* Centra la tabla horizontalmente y le da margen */
    border-collapse: separate; /* Elimina el espacio entre celdas */
    border-spacing: 2px;
    background-color: #f4f4f4; /* Fondo de la tabla */
    text-align: center; /* Centra el texto dentro de las celdas */
    border: 2px solid #333; 
}
  
.styles td {
    border: 1px solid blue; /* Agrega bordes grises a las celdas */
    padding: 10px; /* Relleno dentro de las celdas */
    font-size: 14px;
}

.styles td:empty {
    border: 1px solid blue; /* Agrega bordes grises a las celdas */
    padding: 10px; /* Relleno dentro de las celdas */
}
  
.styles tr:first-child {
    background-color: #000000; /* Color de fondo para los encabezados */
    color: green; /* Color de texto para los encabezados */
}
  
.styles tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo alternativo para filas */
}
  
.styles tr:not(:first-child):hover {
    background-color: #f70303dd; /* Fondo cuando se pasa el ratón por encima de la fila */
}
  
